* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik";
}

.container {
  width: 100%;
  max-width: 1208px;
  margin: 0 auto;
  padding: 0 16px;
  @media screen and (max-width: 1440px) {
    width: 768px;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  background-color: #fffcec;
}
