* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik";
}

.container {
  width: 100%;
  max-width: 1208px;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (max-width: 1440px) {
  .container {
    width: 768px;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  background-color: #fffcec;
}

.offers__cards {
  display: flex;
  justify-content: space-between;
}

.offers__forest {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-width: 206px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 10px rgba(202, 147, 96, 0.8);
  transform: rotate(15deg) scale(1.07, 1.08);
  margin-left: 70px;
  margin-top: 15px;
}

.offers__card_firts {
  max-width: 584px;
  width: 100%;
  height: 200px;
  background-color: rgb(252, 213, 186);
}

.offers__card {
  display: flex;
  color: #414141;
  padding: 30px 31px 40px 40px;
  box-sizing: border-box;
  border-radius: 20px;
  margin-top: 40px;
}

h3 {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-shadow: 1px 1px 1em black;
}

.offers__card p {
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-top: 6px;
}

.card__text {
  max-width: 258px;
}

.offers__card_second {
  background-image: url(../src/image/banner.svg);
  background-repeat: no-repeat;
}

.adress__map {
  max-width: 1208px;
  width: 100%;
  max-height: 354px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 28px;
}

h2 {
  font-family: "Rubik", sans-serif;
  line-height: 150%;
  font-weight: 800;
  color: #414141;
  font-size: 36px;
}
@media (max-width: 768px) {
  h2 {
    font-size: 24px;
  }
}

.container map {
  font-family: "Rubik";
}

.map input {
  margin-top: 44px;
  padding: 4px 8px;
  font-family: Rubik;
  border-radius: 5px;
  border: none;
  background-color: #f3f2f1;
}

.styled:active {
  background-color: #70c05b;
}

.styled__colored {
  background-color: #70c05b;
}

.header-page-one {
  padding: 16px 0;
  z-index: 900;
  width: 100%;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__image-logo {
  width: 152px;
  height: 32px;
}
.header__catalog {
  display: flex;
  align-items: center;
  position: relative;
}
.header__catalog-menu {
  border-color: white;
}
.header__link-catalog {
  display: flex;
  width: 140px;
  height: 40px;
  align-items: center;
  justify-content: space-evenly;
  background-color: #70c05b;
  border-radius: 5px;
}
.header__link-catalog:active {
  background-color: #479b32;
}
.header__catalog-menu {
  height: 24px;
  width: 24px;
}
.header__catalog-text {
  font-family: "Rubik", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 16px;
}
.header__searching {
  display: flex;
  align-items: center;
}
.header__search-line {
  width: 374px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #70c05b;
  padding: 0 5px 0 10px;
}
.header__search-line:focus {
  outline: 2px solid #70c05b;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__unlist {
  display: flex;
  align-items: center;
}
.header__list {
  display: flex;
  align-items: center;
}
.header__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__image-nav {
  width: 24px;
  height: 24px;
}
.header__unlist {
  display: flex;
  gap: 24px;
  align-items: center;
}
.header__name-nav {
  font-family: "Rubik", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
  font-size: 14px;
}
.header__name-nav:hover {
  color: orangered;
}
.header__user {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__name-user {
  font-size: 16px;
  font-family: "Rubik", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.header__superlist {
  width: 24px;
  height: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__superlist span {
  transition: 0.4s;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background-color: white;
  position: absolute;
}
.header__superlist span:first-child {
  top: 4px;
}
.header__superlist span:last-child {
  bottom: 4px;
}
.header__check {
  display: none;
}
.header__check:checked ~ .header__catalog .header__superlist span:first-child {
  opacity: 0;
  width: 0;
}
.header__check:checked ~ .header__catalog .header__superlist span:nth-child(2) {
  transform: rotate(45deg);
}
.header__check:checked ~ .header__catalog .header__superlist span:nth-child(3) {
  transform: rotate(-45deg);
}
.header__check:checked ~ .header__catalog .header__superlist span:last-child {
  opacity: 0;
  width: 0;
}
.header__check:checked ~ .supernav {
  transform: translateY(0);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.supernav {
  background-color: white;
  height: 210px;
  z-index: -900;
  position: absolute;
  left: 0;
  width: 100vw;
  top: 70px;
  transition: 0.4s;
  transform: translateY(-100%);
  box-shadow: none;
}
.supernav__wrapper {
  display: flex;
  justify-content: space-between;
}
.supernav__list {
  margin-top: 25px;
  font-size: 16px;
  font-family: "Rubik", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: black;
}
.supernav__list:hover {
  color: orangered;
}

.main {
  margin-top: 4px;
  width: 100%;
  z-index: -999;
  background-image: url(../src/images/group.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgb(251, 248, 236);
}
.main__info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main__main-text {
  font-size: 48px;
  font-family: "Rubik", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: black;
}

.artical {
  width: 100%;
  background-color: #fbf8ec;
  height: 600px;
}
.artical__menu {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
}
@media screen and (max-width: 1440px) {
  .artical__menu {
    width: 736px;
    height: 40px;
  }
}
.artical__title {
  font-family: Rubik;
  color: #414141;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
}
@media screen and (max-width: 1440px) {
  .artical__title {
    font-size: 24px;
  }
}
.artical__mail {
  font-family: Rubik;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #606060;
  display: flex;
  align-items: stretch;
}
.artical__arrow {
  width: 24px;
  height: 24px;
}

.articals {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
@media screen and (max-width: 1440px) {
  .articals {
    width: 224px;
    gap: 32px;
  }
}
.articals__man {
  background-color: #fff;
  width: 376px;
  height: 420px;
}
@media screen and (max-width: 1440px) {
  .articals__man {
    width: 224px;
  }
}
.articals__art {
  width: 376px;
  height: 162px;
}
@media screen and (max-width: 1440px) {
  .articals__art {
    width: 224px;
    height: 162px;
  }
}
.articals__page {
  width: 356px;
  height: 18px;
  margin: 10px;
  color: #727272;
  font-size: 12px;
}
@media screen and (max-width: 1440px) {
  .articals__page {
    width: 204px;
    height: 12px;
    font-size: 8px;
  }
}
.articals__title {
  color: #414141;
  width: 356px;
  height: 54px;
  font-weight: 700;
  font-size: 18px;
  margin: 10px;
}
@media screen and (max-width: 1440px) {
  .articals__title {
    width: 204px;
    height: 72px;
    font-size: 16px;
  }
}
.articals__description {
  font-family: Rubik;
  width: 356px;
  height: 92px;
  font-weight: 300;
  line-height: 24px;
  font-size: 15px;
  margin: 10px;
}
@media screen and (max-width: 1440px) {
  .articals__description {
    width: 204px;
    height: 90px;
    font-size: 12px;
  }
}
.articals__button {
  width: 150px;
  height: 40px;
  color: #70c05b;
  border: solid 1px #e5ffde;
  border-radius: 4px;
  background-color: #e5ffde;
  margin-left: 10px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.articals__button__button:hover {
  color: #fff;
  background-color: #70c05b;
}

footer {
  background-color: #f9f4e2;
  background-image: url(../src/images/bg.svg);
  max-width: 100%;
  height: 126px;
  padding-top: 24px;
  padding-bottom: 24px;
}
@media screen and (max-width: 1440px) {
  footer {
    height: 124px;
  }
}

.footer__nav {
  width: 1209px;
  height: 78px;
}
@media screen and (max-width: 1440px) {
  .footer__nav {
    width: 736px;
    height: 56px;
    margin: 32px 16px 36px;
  }
}
.footer__logo {
  width: 64px;
  height: 44px;
}
.footer__a {
  text-decoration: none;
  color: #414141;
}
.footer__menu {
  display: flex;
}
.footer__left {
  margin-right: 110px;
  width: 740px;
  height: 44px;
}
.footer__list {
  list-style: none;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1440px) {
  .footer__list {
    width: 415px;
    height: 44px;
  }
}
.footer__right {
  width: 336px;
  height: 24px;
}
.footer__web {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.footer__weber {
  width: 24px;
  height: 24px;
}
.footer__fhone {
  width: 152px;
  height: 24px;
}
.footer__b {
  list-style: none;
  text-decoration: none;
  color: #414141;
  font-size: 16px;
}
.footer__end {
  margin-top: 16px;
  display: flex;
  justify-content: end;
  font-size: 12px;
  gap: 8px;
  align-items: center;
}
.footer__logo {
  width: 100px;
  height: 10px;
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */